<p-toolbar class="app-navbar">
  <ng-template pTemplate="start">
    <div class="brand">
      <div class="brand-logo">
         <img src="assets/logo-4.png" alt="Info Hub Logo" class="navbar_logo" />
      </div>
      <span class="brand-name"> Info Hub</span>
    </div>
  </ng-template>

  <ng-template pTemplate="center">
    <div class="nav-links">
      <button pButton type="button" class="nav-btn" text>
        <i class="pi pi-home"></i>
        <span>Home</span>
      </button>

      <button pButton type="button" class="nav-btn" text>
        <i class="pi pi-folder"></i>
        <span>Sections</span>
      </button>

      <button pButton type="button" class="nav-btn" text>
        <i class="pi pi-comments"></i>
        <span>Comments</span>
      </button>
    </div>
  </ng-template>

  <ng-template pTemplate="end">
    <div class="user-box">
      <p-avatar
        label="E"
        shape="circle"
        styleClass="user-avatar">
      </p-avatar>

      <div class="user-info">
        <span class="user-name">Employee</span>
        <small>employee</small>
      </div>
    </div>
  </ng-template>
</p-toolbar>