<p-card styleClass="login-card">
  <div class="login-card-content">

    <div class="login-left">
      <h1>{{ title1 }}</h1>
      <p>{{ description1 }}</p>


    </div>

    <div class="login-right">
      <div class="right-top">
        <img src="/assets/Aurora%20(logo)-01.png" alt="Aurora logo" class="aurora-logo" />
      </div>

      <div class="right-text">
        <h2>
          {{ title2 }}
        </h2>

        <p>
          {{ description2 }}
        </p>
      </div>
    </div>

  </div>
</p-card>
