<form #loginForm="ngForm" class="login-form" (ngSubmit)="login()">

<p-floatlabel variant="in" class="field-wrapper">
  <input
    pInputText
    id="email"
    type="email"
    name="email"
    [(ngModel)]="email"
    #emailInput="ngModel"
    required
    email
    placeholder="Your email"
    class="login-input"
  />

  <label for="email">Email</label>
</p-floatlabel>

  @if (emailInput.invalid && emailInput.dirty) {
    <small class="error-message">
      Please enter a valid email.
    </small>
  }

  @if (emailInput.valid && email && !isEmailDomainValid()) {
    <small class="error-message">
      Email must end with {{ allowedDomain }}
    </small>
  }
<p-floatlabel variant="in" class="field-wrapper">
  <p-password
    inputId="password"
    name="password"
    [(ngModel)]="password"
    #passwordInput="ngModel"
    required
    placeholder="Password"
    styleClass="password-field"
    inputStyleClass="login-input"
    [feedback]="false"
    [toggleMask]="true">
  </p-password>

  <label for="password">Password</label>
</p-floatlabel>

  @if (passwordInput.invalid && passwordInput.dirty) {
    <small class="error-message">
      Password is required.
    </small>
  }

  <a class="forgot-password">
    Forgot Password?
  </a>

  <p-button
  type="submit"
  label="Log In"
  styleClass="login-btn"
  [disabled]="loginForm.invalid || !isEmailDomainValid()">
</p-button>

</form>
